/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
todo.md
public/uploads/
.idea
.vscode
.DS_Store
Thumbs.db

# Email spool folder
/app/spool/*

docker-compose.override.yml

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

/app/wordpress/assets/vendor/

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
/vendor/

###> friendsofphp/php-cs-fixer ###
/app/wordpress/.php-cs-fixer.php
/app/wordpress/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
